.burger_constructor {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    border: 2px dashed transparent;
    transition: border-color 0.2s ease;
}

.burger_constructor_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 60vh; /* Для корректного отображения*/
    position: relative;
}

.burger_constructor_bun {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 38px;
}

.burger_constructor_fillings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 50%; /* Для корректного отображения*/
    overflow-y: auto;
}

.constructor_element_wrapper {
    display: flex;
    align-items: center;
    gap: 14px;
}

.preloader_order {
    font-family: "Golos", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-left: 38px;
}