.main {
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0 16%; /* Деление из figma 340px/1920px отступ слева на общую ширину экрана макета */
}

.home_page {
    display: flex;
    gap: 40px;
    height: calc(100vh - 88px);
}